#title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btncenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

#text{
    text-align: center;
}

#download-btn{
    text-align: center;
}